:root {
    --btn-background-color: #13A6BA;
    
    --font-small-text: 18px;
    --font-title-text: 58px;

    --line-height-title-text: 91px;
    --line-height-small-text: 29px;

    --color-small-text: #677071;

    --font-family: "Noto serif";
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1620px;
    margin: 0 auto;
    position: relative;
}

h2 {
    font-size: var(--font-title-text);
    font-weight: 700;
    line-height: var(--line-height-title-text);
}

header {
    background-color: #FBEDDA;
}

header .logo {
   margin-top: 50px;
}

header ul {
    display: inline-block;
    margin-top: 51px;
    margin-left: 620px;
    margin-right: 80px;
}

header ul:last-child {
    margin-right: 0;
}

header ul li {
    display: inline-block;
    margin-right: 81px;
    font-family: var(--font-family);
    font-size: var(--font-small-text);
    line-height: var(--line-height-small-text);
    color: #000;
    
}

header ul li a {
    color: #000;
    text-decoration: none;
}

header ul li:last-child {
    margin-right: 0;
}


header .login {
    display: inline-block;
}

.login a {
    text-decoration: none;
    color: white;
    padding: 10.41px 25.18px;
    background-color: var(--btn-background-color);
    border-radius: 8px;
   font-size: 20px;
}

#img {
    margin-left: -212px;
}

header .hero {
    margin-top: 224px;
    width: 988px;
    margin-left: 316px;
    text-align: center;
}

header .hero h1 {
    font-family: var(--font-family);
    font-size: 80px;
    line-height: 105px;
    margin-bottom: 31px;
    font-weight: 800px;
}

header .hero p {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 34px;
    color: var(--color-small-text);
}

header .home-search {
  
    width: 1273px;
    margin-left: 173px;
    margin-top: 132px;
    height: 272px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 55px rgba(0, 0, 0, 7%);
}

header .home-search .group-form, 
.button {
    display: inline-block;
   

}

header .home-search .deal {
    margin-bottom: -20px;
    width: 1273.4808349609375px;
    border-bottom: 1px solid #E0E2E3;
  
}


header .deal ul {
   display: inline-block;
   margin-left: 54px;
   margin-right: 86px;
   margin-top: 44.93px;
   
}

header .deal ul:last-child {
    margin-left: 0;
}

header .deal ul li {
    width: 75px;
}

header .deal li a {
    font-family: var(--font-family);
    font-size: 26px;
    color: #CCCFD0;
   line-height: 36px;
   padding-bottom: 14px;
   font-weight: 400;
  
}

header .deal li a:focus {
    color: #000;
    border-bottom: 3px solid #021112;
    font-weight: 600

}

header .search-form {
    margin-top: 33px;
    display: inline-block;
}

header .search-form img {
    margin-right: 10px;
    
}

header .search-form .group-form {
  margin-top: 33px;
  padding-left: 47px;
  padding-right: 88px;
  border-right: 1px solid #CFCCCC;
}

header .search-form .group-form:nth-child(3) {
    border-right: 1px solid white;
}

header .search-form .group-form label {
    color: #677071;
    font-family: var(--font-family);
    font-size: var(--font-small-text);
    line-height: var(--line-height-small-text);
    margin-bottom: 6.11px;
}

header .search-form .group-form span {
    display: block;
    color: #021112;
    font-family: var(--font-family);
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
    margin-top: 6px;
    margin-left: 20px;
}


header .deal li a:focus {
    color: #000;
    border-bottom: 5px solid #021112;
    font-weight: 600

}

header .search-form .button {
    border-radius: 20px;
    padding: 26px 55px;
    background-color: var(--btn-background-color);  
    display: inline-block; 
    margin-top: 27px; 
   
}



header .search-form .button a {
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    line-height: var(--line-height-small-text);
  
}

.products {
    margin: 154px 150px 171.41px 150px;
}

.products .property-choice .property {
    display: inline-block;
}
.property h2{
    font-size: var(--font-title-text);
    line-height: var(--line-height-title-text);
    margin: 0;
}


.products .property-choice p {
    font-size: var(--font-small-text);
    color: var(--color-small-text);
    line-height: var(--line-height-small-text);
    margin-top: 21px;
}

.products .property-choice .property-options {
    margin-left: 1160px;
    margin-top: -50px;
}

.products .property-choice .property-options label {
    color: #CCCFD0;
    font-size: 26px;
    font-family: var(--font-family);
    line-height: 36px;
    cursor: pointer;
    margin-right: 44px;
}



.products .property-choice .property-options label:active {
    color: #772D8B;
}

.products .property-choice .property-options input {
    width: 25.48px;
    height: 25.48px;
    border-radius: 50%;
    border: 1.3px solid #CCCFD0;
    margin-right: 15px;
    cursor: pointer;
}

.products .property-choice .property-options input::after {
    content: "";
    width: 13.48px;
    height: 13.48px;
    color: #772D8B;
}

.products .cards {
    margin-top: 98.8px;
    max-width: 100%;
   margin-left: 0px;
}

.products .cards .card {
    display: inline-block;
    position: relative;
    margin-right: 77.3px;
    left: 40px;
}


.products .cards .card:hover::before {
    width: calc(100% + 70px);
    height: calc(100% + 70px);
    transform: translate(-35px, -35px);
    content: '';
    border-radius: 40px;
    position: absolute;
    box-shadow: 0 0 55px rgba(0, 0, 0, 7%);
} 

.products .cards .card .card-back .type {
    color: #021112;
    font-size: 30px;
    line-height: 49px;
    font-family: var(--font-family);
    margin-top: 46.13px;
    margin-bottom: 9.38px;
}

.products .cards .card .card-back .location {
    color: var(--color-small-text);
    font-size: var(--font-small-text);
    line-height: var(--line-height-small-text);
    font-family: var(--font-family);
}

.products .cards .card .card-back .price {
    display: block;
    font-size: 58px;
    font-weight: 700;
    line-height: 91px;
    margin-top: 22px;
    font-family: var(--font-family);
}

.products .cards .card .card-back .description {
    color: #CCCFD0;
    margin-bottom: 55.13px;
}

.products .cards .card .card-back .description tr td {
   padding-left: 23.84px;
   padding-right: 23.84px;
   border-right: 1px solid #CCCFD0;
}

.products .cards .card .card-back .description tr td:first-child {
   padding-left: 0;
}

.products .cards .card .card-back .description tr td:last-child {
    border-right: none;
}




.products .cards .card .button {
    margin-top: 55.13px;
    cursor: pointer;
}


.products .cards .card .button a {
    display: inline-block;
    text-decoration: none;
    font-size: 28px;
    font-family: var(--font-family);
    font-weight: 600;
    line-height: var(--line-height-small-text);
    color: #13A6BA;
    border: 2px solid #13A6BA;
    border-radius: 20px;
    padding: 26.99px 150.8px;
    
}
 
.products .cards .card .button:hover {
    background-color: #13A6BA; 
    color: #FFFFFF; 
}


.advantages {
    position: relative;
    margin-top: 171px;
}

.advantages .ellipse {
    background: #FEECEB;
    width: 573.55px;
    height: 573.55px;
    border-radius: 50%;
    position: absolute;
    left: -300px;
    top: 0px;
    z-index: -1;
}

.property {
    display: inline-block;
}

.advantages .img-house {
    display: inline-block;
    padding-top: 259px;
}

.advantages .protection {
    border-radius: 10px;
    width: 600px;
    display: inline-block;
    font-size: 58px;
    font-weight: 700;
    vertical-align: 100px;
    margin-left: 130px;
}

.advantages .protection h2 {
    font-size: 58px;
    line-height: 91px;
    font-weight: 700;
    margin-bottom: 96px;
}

.advantages .protection .test1 {
    margin-bottom: 60px;
}

.advantages .protection .test1:last-child {
    margin-bottom: 0;
}

.advantages .protection-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 32px;
} 
.advantages .protection-text label {
    font-size: 36px;
    font-weight: 600;
}

.advantages .protection-text p {
    color: var(--color-small-text);
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.advantages .icon {
    display: inline-block;
    background-color: #b3c41d2d;
}


.advantages .discover-place {
    width: 391px;
    height: 191px;
    border-radius: 20px;
    position: absolute;
    background-color: white;
    top: 900px;
    left: -100px;
    box-shadow: 0 0 55px rgba(0, 0, 0, 20%);
}

.advantages .discover-place label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 34px;
    margin-left: 39px;
}

.advantages .discover-place span {
    display: block;
    color: #CCCFD0;
    font-size: 14px;
    font-weight: 600;
    margin-left: 39px;
    margin-top: 4px;
}
.advantages .discover-place .small-house-img {
    margin-top: 19px;

}

.advantages .discover-place .small-house-img:last-child {
    margin-left: 40px;
}

.advantages .discover-place .small-house-img .img-small {
    width: 58px;
    height: 54px;
    display: inline-block;
}

.advantages .discover-place .small-house-img .img-small2 {
    background-image: url(img/299c052df2520d66d94de9920bf04497559a466a.jpg);
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: -10px;
    margin: 0 auto;
    border-radius: 7px;
    width: 58px;
    height: 58px;
    margin-right: 15px;
}

.advantages .discover-place .small-house-img .img-small1 {
    background-image: url(img/Mask\ Group\ \(2\).png);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: -7px;
    margin: 0 auto;
    border-radius: 7px;
    width: 58px;
    height: 58px;
    margin-right: 15px;
}

.advantages .discover-place .small-house-img .img-small3 {
    background-image: url(img/Mask\ Group\ \(1\).png);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: -7px;
    margin: 0 auto;
    border-radius: 7px;
    width: 58px;
    height: 58px;
    margin-right: 15px;
}

.advantages .discover-place .small-house-img .img-small4 {
    background-image: url(img/Arrow\ 2.png);
   background-color: #F93633;
   background-position: 0px;
   background-size: 110%;
   margin: 0 auto;
    border-radius: 7px;
    width: 58px;
    height: 58px;
}

.housing-market-data {
    background-image: url(img/photo_2026-01-11_14-58-40.jpg);
    background-size: 1091px 980px;
    background-repeat: no-repeat;
    background-position: 1400px 100px;
}

.housing-market-data .container {
    margin-top: 0px;
    height: 1253px;
}

.housing-market-data .stats-container {
   padding-top: 502px;
}

.housing-market-data .stats h2 {
    width: 600px;
    margin-bottom: 41px;
    display: inline-block;
}

.housing-market-data .stats p {
    font-size: 20px;
    line-height: 38px;
    color: #677071;
    width: 500px;
}

.housing-market-data table {
    width: 1750px;
    display: inline-block;
}


.housing-market-data table td {
    border-right: 1px solid #E0E2E3;
    padding-left: 45px;
    padding-right: 45px;
}

.housing-market-data table td:nth-child(3),
.housing-market-data table tr:last-child {
    border-right: none;
}

.housing-market-data table td:first-child {
    padding-left: 0;
}

.housing-market-data table tr:first-child {
    font-size: 42px;
    font-weight: 700;
}

.housing-market-data table tr:last-child {
    font-size: var(--font-small-text);
    color: var(--color-small-text);
}


.housing-market-data .feature-item {
    border-radius: 20px;
    box-shadow: 2px 2px 50px #00000014;
    width: 583px;
    height: 720px;
    position: absolute;
    top: 314px;
    left: 930px;
    background-color: #FFF;
}

.housing-market-data .feature-item p {
    position: absolute;
    transform: translateX(41px);
    top: 548px;
    color: var(--color-small-text);
    line-height: 182%;
    font-size: 12px;
    font-weight: 400px;
    width: 501px;

}

.housing-market-data .feature-item .button input {
    display: block;
    transform: translateX(0px);
    border-radius: 50px;
    background-color: #CCCFD0;
}

.housing-market-data .feature-item .house-img  {
    background-image: url(img/Mask\ Group\ \(6\).png);
    width: 501px;
    height: 319px;
    position: absolute;
    top: 103px;
    left: 41px;
    border-radius: 20px;
}

.housing-market-data .feature-item .button {
    position: relative;
    top: 40px;
    left: 514px;
}

.housing-market-data .feature-item .icons-avatar {
    position: absolute;
    top: 461px;
    left: 41px;
}

.housing-market-data .feature-item .icons-avatar label {
    position: absolute;
    top: 20px;
    left: 175px;
    width: 154px;
    font-size: 14px;
    font-weight: 500;
}

.housing-market-data .feature-item .icons-avatar .avatar {
    border-radius: 50%;
    width: 52.78px;
    height: 52.78px;
    display: inline-block;
}

.housing-market-data .feature-item .icons-avatar .avatar1 {
    background-image: url(img/2594529692d6754ca6af172384e27460243daab5.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.housing-market-data .feature-item .icons-avatar .avatar2 {
    background-image: url(img/fcc76e0d4c85ef9875067ccbcf67f491d9a225b3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 30px;
}

.housing-market-data .feature-item .icons-avatar .avatar3 {
    background-image: url(img/5db6f89bcf5c737b330207d8083a7bbd5896c01d.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 60px;
}

.housing-market-data .feature-item .icons-avatar .avatar4 {
    background-image: url(img/29a0183e4a6e00651d4af1c74351560620cfba47.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 90px;
}

.housing-market-data .feature-item .comments-share {
    position: absolute;
    top: 650px;
    left: 350px;
}

.housing-market-data .feature-item .comments-share .comments {
    padding-right: 150px;
}

.housing-market-data .feature-item .comments-share .share,
.housing-market-data .feature-item .comments-share .comments {
    color: #677071;
    font-size: 14px;
    text-decoration: none;
}

.housing-market-data .feature-item .comments-share img {
    position: absolute;
    top: -10px;
    left: -40px;
}

.housing-market-data .feature-item .comments-share .share img {
    position: absolute;
    left: 139px;
}

.housing-market-data .feature-item .marker {
    width: 52.24px;
    height: 52.24px;
    background-image: url(img/Save.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 396.64px;
    left: 464px;
    box-shadow: 0 0 10px #00000014;
}

.housing-market-data .pages {
    display: inline-block;
    width: 307px;
    height: 307px;
    box-shadow: 15px 15px 55px rgba(0, 0, 0, 30%);
    position: absolute;
    top: 922px;
    left: 770px;
    background-color: #FFFFFF;
    z-index: 1;
    border-radius: 20px;
}



.housing-market-data .pages .icon {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background-image: url(img/01-01\ 1.png);
    background-color: #F3C98B;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    left: 119px;
    top: 33.49px;
}

.housing-market-data .pages .icon-page {
    margin-top: 0px;
    width: 139px;
    position: relative;
    top: 50px;
    left: 84px;
}

.housing-market-data .pages .icon-page h3 {
    font-size: 20px;
    font-weight: 700px;
    margin-top: 0;
}

.housing-market-data .pages .icon-page label{
    font-size: 10px;
    color: var(--color-small-text);
    font-weight: 400px;
    margin-left: 43px;
    margin-bottom: 130px;
    position: absolute;
    top: 30px;
}

.housing-market-data .pages .statistics  {
    display: inline-block;
    margin-top: 60px;
}

.housing-market-data .pages .statistics li  {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    color: var(--color-small-text);
}

.housing-market-data .pages .statistics li:first-child {
    margin-right: 100px;
}

.housing-market-data .pages .actions {
    display: inline-block;
}

.housing-market-data .pages .actions .follow, 
.messages {
    display: inline-block;
    padding: 14px;
    margin-right: 23px;
    margin-left: 17px;
    border-radius: 10px;
    border: 1px solid #E0E2E3;
    color: var(--color-small-text);
    transition: 0.3s;
}

.housing-market-data .pages .actions .follow:last-child, 
.messages:last-child{
    margin-right: 0;
    margin-left: 0;
}

.housing-market-data .pages .actions .follow:hover, 
.messages:hover {
    background-color: #772D8B;
    color: #FFFFFF;
}

.housing-market-data .google {
    width: 169px;
    height: 169px;
    border-radius: 20px;
    box-shadow: 4px 4px 30px #00000014;
    background-color: #FFFFFF;
    background-image: url(img/Group\ 38.png);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: 50% 50%;
    position: absolute;
    top: 320px;
    left: 1401px;
    z-index: 1;
}


.review {
    background-color: #FDF6ED;
    margin-top: 243px;
    position: relative;
    height: 1000px;
}

.review .photo {
    background-image: url(img/8fa63ef8100f35581cda97e843670d5d04f98538.png);
    width: 810.74169921875px;
    height: 1235.258056640625px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    transform: translateY(-243px);
}

.review .client-review {
    display: inline-block;
    width: 580px;
    vertical-align: 430px;
    margin-left: 152px;
}

.review .client-review h4 {
    color: #13A6BA;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 9.5px;
    margin-bottom: 0;
} 

.review .client-review h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.review .client-review p {
    font-size: 24px;
    line-height: 42px;
    color: #021112;
    margin-top: 49px;
    margin-bottom: 58px;
    width: 580px;
}

.review .client-review label {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1.65px;
}

.review .client-review span {
    display: block;
    color: var(--color-small-text);
    font-size: 18px;
    margin-top: 10px;
}

.review .quotes {
    width: 182px;
    height: 141px;
    background-image: url(img/“\ \(1\).png);
    background-size: 100%;
    position: absolute;
    top: 89px;
    right: 0;
}

.review .yellow-figure {
    width: 98.27px;
    height: 130.5px;
    background-image: url(img/Vector\ 12.png);
    background-size: 100%;
    position: absolute;
    top: 218px;
    left: 718px;
}


.blur::after {
    content: '';
  position: absolute;
  width: 65px;
  height: 87px;
  border-radius: 50px;
  top: 20px;
  left: 40px;
  right: 50%;
  bottom: 0;
  background: white;
  filter: blur(21px);
  z-index: 2;
}

.lead {
    margin-top: 243px;
    height: 575px;
    position: relative;
}

.lead .offer {
    display: inline-block;
    width: 600px;
}

.lead .offer h2 {
    margin-top: 0;
    width: 694px;
}

.lead .offer p {
    font-size: 20px;
    line-height: 38px;
    font-weight: 400;
    margin-top: 40px;
    width: 567px;
    color: var(--color-small-text);
}

.lead .offer .red-line {
    width: 443px;
    height: 30px;
    background-color: #F93633;
    border-radius: 34px;
    position: relative;
    top: 0;
    left: -500px;
}

.lead .input-field {
    display: inline-block;
    vertical-align: 170px;
    margin-left: 209px;
}

.lead .input-field form {
    border-radius: 20px;
    border: 1px solid #C8F3F9;
    vertical-align: 117px;
    background-color: #FFF;
}

.lead .input-field form input[type="email"] {
    padding: 38px 217px 38px 45px;
    font-size: 18px;
    color: var(--color-small-text);
    border: none;
}

.lead .input-field form input[type="email"]:focus {
    outline: none;
    border: none;
}

.lead .input-field form input[type="submit"] {
    background-color: #13A6BA;
    color: #FFF;
    font-size: 20px;
    padding: 21.5px 46.25px;
    border-radius: 15px;
    border: none;
    margin-right: 16px;
}

.lead .points {
    background-image: url(img/Frame\ 1.png);
    width: 190px;
    height: 103px;
    background-size: 100%;
    position: absolute;
    top: 200px;
    right: 89px;
    z-index: -1;
}

.lead .yellow-ellipse {
    width: 163px;
    height: 163px;
    border-radius: 50%;
    background-color: #F3C98B;
    transform: translateX(1530px);
}

footer {
    margin-top: 109px;
}

footer .info {
    display: inline-block;
    vertical-align: top;
}

footer .info p {
    font-size: 20px;
    line-height: var(--line-height-small-text);
    color: var(--color-small-text);
    margin-top: 38px;
    width: 280px;
}

footer nav {
    display: inline-block;
}

footer nav ul {
    display: inline-block;
    margin-right: 158px;
}

footer nav ul:last-child {
    margin-right: 0;
    width: 283px;
    vertical-align: top;
}

footer nav ul li {
    list-style: none;
    font-size: 20px;
    font-weight: 400px;
    color: #021112;
    margin-bottom: 24px;
}

footer nav ul li:first-child {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
}

footer nav ul li:last-child {
    margin-bottom: 0;
}

footer .socials {
     margin-top: 41px;
}

footer .socials a {
    padding: 10px;
    color: #C8F3F9;
    border: 1px solid #C8F3F9;
    margin-right: 30px;
   
}

footer .socials a:last-child {
    margin-right: 0;
}

footer .socials a:hover {
    border: 1px solid #13A6BA;
    color: #13A6BA;
}

footer fieldset {
    margin-top: 20px;
}

footer fieldset p {
    color: var(--color-small-text);
    font-size: 18px;
    margin-top: 29.69px;
    margin-bottom: 26px;
    text-align: center;
}