:root {
    --btn-background-color: #13A6BA;
    
    --font-small-text: 18px;
    --font-title-text: 58px;

    --line-height-title-text: 91px;
    --line-height-small-text: 29px;

    --color-small-text: #677071;

    --font-family: "Noto serif";
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1620px;
    margin: 0 auto;
    border: 2px solid red;
}

header {
    background-color: #FBEDDA;
}

header .logo {
    border: 2px solid red;
   margin-top: 50px;
}

header ul {
    display: inline-block;
    margin-top: 51px;
    margin-left: 620px;
    margin-right: 80px;
}

header ul:last-child {
    margin-right: 0;
}

header ul li {
    display: inline-block;
    margin-right: 81px;
    font-family: var(--font-family);
    font-size: var(--font-small-text);
    line-height: var(--line-height-small-text);
    color: #000;
    
}

header ul li a {
    color: #000;
    text-decoration: none;
}

header ul li:last-child {
    margin-right: 0;
}


header .login {
    display: inline-block;
}

.login a {
    text-decoration: none;
    color: white;
    padding: 10.41px 25.18px;
    background-color: var(--btn-background-color);
    border-radius: 8px;
   font-size: 20px;
}

#img {
    margin-left: -212px;
}

header .hero {
    margin-top: 224px;
    width: 988px;
    margin-left: 316px;
    text-align: center;
}

header .hero h1 {
    font-family: var(--font-family);
    font-size: 80px;
    line-height: 105px;
    margin-bottom: 31px;
    font-weight: 800px;
}

header .hero p {
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 34px;
    color: var(--color-small-text);
}

header .home-search {
  
    width: 1273px;
    margin-left: 173px;
    margin-top: 132px;
    height: 272px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 55px rgba(0, 0, 0, 7%);
}

header .home-search .group-form, 
.button {
    display: inline-block;
   

}

header .home-search .deal {
    margin-bottom: -20px;
    width: 1273.4808349609375px;
    border-bottom: 1px solid #E0E2E3;
  
}


header .deal ul {
   display: inline-block;
   margin-left: 54px;
   margin-right: 86px;
   margin-top: 44.93px;
   
}

header .deal ul:last-child {
    margin-left: 0;
}

header .deal ul li {
    width: 75px;
}

header .deal li a {
    font-family: var(--font-family);
    font-size: 26px;
    color: #CCCFD0;
   line-height: 36px;
   padding-bottom: 14px;
   font-weight: 400;
  
}

header .deal li a:focus {
    color: #000;
    border-bottom: 3px solid #021112;
    font-weight: 600

}

header .search-form {
    margin-top: 33px;
    display: inline-block;
}

header .search-form img {
    margin-right: 10px;
    
}

header .search-form .group-form {
  margin-top: 33px;
  padding-left: 47px;
  padding-right: 88px;
  border-right: 1px solid #CFCCCC;
}

header .search-form .group-form:nth-child(3) {
    border-right: 1px solid white;
}

header .search-form .group-form label {
    color: #677071;
    font-family: var(--font-family);
    font-size: var(--font-small-text);
    line-height: var(--line-height-small-text);
    margin-bottom: 6.11px;
}

header .search-form .group-form span {
    display: block;
    color: #021112;
    font-family: var(--font-family);
    font-size: 36px;
    line-height: 50px;
    font-weight: 600;
    margin-top: 6px;
    margin-left: 20px;
}


header .deal li a:focus {
    color: #000;
    border-bottom: 5px solid #021112;
    font-weight: 600

}

header .search-form .button {
    border-radius: 20px;
    padding: 26px 55px;
    background-color: var(--btn-background-color);  
    display: inline-block; 
    margin-top: 27px; 
   
}



header .search-form .button a {
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    line-height: var(--line-height-small-text);
  
}

.products {
    margin: 154px 150px 171.41px 150px;
}

.products .property-choice .property {
    display: inline-block;
}
.property h2{
    font-size: var(--font-title-text);
    line-height: var(--line-height-title-text);
    margin: 0;
}


.products .property-choice p {
    font-size: var(--font-small-text);
    color: var(--color-small-text);
    line-height: var(--line-height-small-text);
    margin-top: 21px;
}

.products .property-choice .property-options {
    margin-left: 1160px;
    margin-top: -50px;
}

.products .property-choice .property-options label {
    color: #CCCFD0;
    font-size: 26px;
    font-family: var(--font-family);
    line-height: 36px;
    cursor: pointer;
    margin-right: 44px;
}



.products .property-choice .property-options label:active {
    color: #772D8B;
}

.products .property-choice .property-options input {
    width: 25.48px;
    height: 25.48px;
    border-radius: 50%;
    border: 1.3px solid #CCCFD0;
    margin-right: 15px;
    cursor: pointer;
}

.products .property-choice .property-options input::after {
    content: "";
    width: 13.48px;
    height: 13.48px;
    color: #772D8B;
}

.products .cards {
    margin-top: 98.8px;
    max-width: 100%;
   margin-left: 0px;
}

.products .cards .card {
    display: inline-block;
    position: relative;
    margin-right: 77.3px;
    left: 40px;
}


.products .cards .card:hover::before {
    width: calc(100% + 70px);
    height: calc(100% + 70px);
    transform: translate(-35px, -35px);
    content: '';
    border-radius: 40px;
    position: absolute;
    box-shadow: 0 0 55px rgba(0, 0, 0, 7%);
} 

.products .cards .card .card-back .type {
    color: #021112;
    font-size: 30px;
    line-height: 49px;
    font-family: var(--font-family);
    margin-top: 46.13px;
    margin-bottom: 9.38px;
}

.products .cards .card .card-back .location {
    color: var(--color-small-text);
    font-size: var(--font-small-text);
    line-height: var(--line-height-small-text);
    font-family: var(--font-family);
}

.products .cards .card .card-back .price {
    display: block;
    font-size: 58px;
    font-weight: 700;
    line-height: 91px;
    margin-top: 22px;
    font-family: var(--font-family);
}

.products .cards .card .card-back .description {
    color: #CCCFD0;
    margin-bottom: 55.13px;
}

.products .cards .card .card-back .description tr td {
   padding-left: 23.84px;
   padding-right: 23.84px;
   border-right: 1px solid #CCCFD0;
}

.products .cards .card .card-back .description tr td:first-child {
   padding-left: 0;
}

.products .cards .card .card-back .description tr td:last-child {
    border-right: none;
}




.products .cards .card .button {
    margin-top: 55.13px;
    cursor: pointer;
}


.products .cards .card .button a {
    display: inline-block;
    text-decoration: none;
    font-size: 28px;
    font-family: var(--font-family);
    font-weight: 600;
    line-height: var(--line-height-small-text);
    color: #13A6BA;
    border: 2px solid #13A6BA;
    border-radius: 20px;
    padding: 26.99px 150.8px;
    
}
 
.products .cards .card .button:hover {
    background-color: #13A6BA; 
    color: #FFFFFF; 
}


.advantages {
    position: relative;
    margin-top: 171px;
}

.advantages .ellipse {
    background: #FEECEB;
    width: 573.55px;
    height: 573.55px;
    border-radius: 50%;
    position: absolute;
    left: 300px;
    top: 0px;
    z-index: -1;
}

.advantages .img-house {
    float: left;
    margin-top: 250px;
}

.advantages .property {
    margin-top: 346px;
    margin-left: 900px;
    font-size: 58px;
    line-height: 91px;
    font-weight: 700;
}

.advantages .protection {
    border-radius: 10px;
    width: 600px;
    display: inline-block;
    margin-top: 96px;
    margin-left: 100px;
}

.advantages .protection-text {
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    margin-left: 32px;
} 
.advantages .protection-text label {
    font-size: 36px;
    font-weight: 600;
}

.advantages .protection-text p {
    color: var(--color-small-text);
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.advantages .icon {
    display: inline-block;
    background-color: #b3c41d2d;
}

.advantages .test1 {
    margin-top: 64px;
}

.advantages .test1:first-child {
    margin-top: 0;
}

.advantages .discover-place {
    width: 391px;
    height: 191px;
    border-radius: 20px;
    position: absolute;
    background-color: white;
    top: 1000px;
    left: 500px;
    box-shadow: 0 0 55px rgba(0, 0, 0, 20%);
}

.advantages .discover-place label {
    display: block;
    font-size: 20px;
    font-weight: 600;
    margin-top: 34px;
    margin-left: 39px;
}

.advantages .discover-place span {
    display: block;
    color: #CCCFD0;
    font-size: 14px;
    font-weight: 600;
    margin-left: 39px;
    margin-top: 4px;
}
.advantages .discover-place .small-house-img {
    margin-top: 19px;

}

.advantages .discover-place .small-house-img:last-child {
    margin-left: 40px;
}

.advantages .discover-place .small-house-img .img-small {
    width: 58px;
    height: 54px;
    display: inline-block;
}

.advantages .discover-place .small-house-img .img-small2 {
    background-image: url(img/299c052df2520d66d94de9920bf04497559a466a.jpg);
    background-size: 125%;
    background-repeat: no-repeat;
    background-position: -10px;
    margin: 0 auto;
    border-radius: 7px;
    width: 58px;
    height: 58px;
    margin-right: 15px;
}

.advantages .discover-place .small-house-img .img-small1 {
    background-image: url(img/Mask\ Group\ \(2\).png);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: -7px;
    margin: 0 auto;
    border-radius: 7px;
    width: 58px;
    height: 58px;
    margin-right: 15px;
}

.advantages .discover-place .small-house-img .img-small3 {
    background-image: url(img/Mask\ Group\ \(1\).png);
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: -7px;
    margin: 0 auto;
    border-radius: 7px;
    width: 58px;
    height: 58px;
    margin-right: 15px;
}

.advantages .discover-place .small-house-img .img-small4 {
    background-image: url(img/Arrow\ 2.png);
   background-color: #F93633;
   background-position: 0px;
   background-size: 110%;
   margin: 0 auto;
    border-radius: 7px;
    width: 58px;
    height: 58px;
}
